In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df= pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
drop_col = ["Surname", "RowNumber", "CustomerId"]
cat_col = ["Geography", "Gender","HasCrCard","IsActiveMember"]
num_col = ["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]

In [5]:
df.drop(drop_col,axis=1,inplace=True)

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
for i in cat_col:
    print(i+" : "+str(df[i].unique()))

Geography : ['France' 'Spain' 'Germany']
Gender : ['Female' 'Male']
HasCrCard : [1 0]
IsActiveMember : [1 0]

In [8]:
df["Gender"].replace({"Female":1,"Male":1},inplace = True)
df = pd.get_dummies(df,["Geography"])

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[["CreditScore","Tenure","Age","Balance","EstimatedSalary"]]=scaler.fit_transform(df[["CreditScore","Tenure","Age","Balance","EstimatedSalary"]])

In [10]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,0.538,1,0.324324,0.2,0.000000,1,1,1,0.506735,1,1,0,0
1,0.516,1,0.310811,0.1,0.334031,1,0,1,0.562709,0,0,0,1
2,0.304,1,0.324324,0.8,0.636357,3,1,0,0.569654,1,1,0,0
3,0.698,1,0.283784,0.1,0.000000,2,0,0,0.469120,0,1,0,0
4,1.000,1,0.337838,0.2,0.500246,1,1,1,0.395400,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1,0.283784,0.5,0.000000,2,1,0,0.481341,0,1,0,0
9996,0.332,1,0.229730,1.0,0.228657,1,1,1,0.508490,0,1,0,0
9997,0.718,1,0.243243,0.7,0.000000,1,0,1,0.210390,1,1,0,0
9998,0.844,1,0.324324,0.3,0.299226,2,1,0,0.464429,1,0,1,0
9999,0.884,1,0.135135,0.4,0.518708,1,1,0,0.190914,0,1,0,0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop("Exited",axis=1),df["Exited"],test_size=0.2,random_state=42)
X_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
9254,0.672,1,0.189189,0.6,0.000000,2,1,1,0.895494,1,0,0
1561,0.564,1,0.324324,0.4,0.476786,2,1,1,0.979930,0,1,0
1670,0.418,1,0.081081,0.3,0.457317,1,1,0,0.429438,0,0,1
6087,0.422,1,0.121622,0.9,0.540606,1,1,0,0.765417,1,0,0
6669,0.334,1,0.513514,0.9,0.566554,1,0,0,0.197401,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5734,0.836,1,0.486486,0.8,0.277853,1,1,1,0.346880,1,0,0
5191,0.664,1,0.540541,0.1,0.000000,1,1,1,0.003475,1,0,0
5390,0.770,1,0.270270,0.1,0.000000,3,0,0,0.461087,1,0,0
860,0.634,1,0.337838,0.8,0.758186,1,1,0,0.487529,1,0,0
7270,0.694,1,0.445946,0.1,0.589523,1,1,1,0.267873,0,1,0

In [12]:
import tensorflow as tf

model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(13,activation="relu"),
    tf.keras.layers.Dense(5,activation="relu"),
    tf.keras.layers.Dense(1,activation="sigmoid")
])

model.compile(optimizer="SGD",loss="binary_crossentropy",metrics=[tf.keras.metrics.BinaryAccuracy()])

model.fit(X_train,y_train,epochs=100,validation_data=(X_test,y_test))

Epoch 1/100
250/250 [==============================] - 3s 2ms/step - loss: 0.5558 - binary_accuracy: 0.7903 - val_loss: 0.5063 - val_binary_accuracy: 0.8035
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5125 - binary_accuracy: 0.7945 - val_loss: 0.4983 - val_binary_accuracy: 0.8035
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5065 - binary_accuracy: 0.7945 - val_loss: 0.4927 - val_binary_accuracy: 0.8035
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5012 - binary_accuracy: 0.7945 - val_loss: 0.4873 - val_binary_accuracy: 0.8035
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4963 - binary_accuracy: 0.7945 - val_loss: 0.4825 - val_binary_accuracy: 0.8035
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4920 - binary_accuracy: 0.7945 - val_loss: 0.4789 - val_binary_accuracy: 0.8035
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4883 - binary_accuracy: 0.7945 - val_loss: 0.4746 - val_binary_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4849 - binary_accuracy: 0.7945 - val_loss: 0.4710 - val_binary_accuracy: 0.8035
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4820 - binary_accuracy: 0.7945 - val_loss: 0.4685 - val_binary_accuracy: 0.8035
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4796 - binary_accuracy: 0.7945 - val_loss: 0.4663 - val_binary_accuracy: 0.8035
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4775 - binary_accuracy: 0.7945 - val_loss: 0.4632 - val_binary_accuracy: 0.8035
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4756 - binary_accuracy: 0.7945 - val_loss: 0.4611 - val_binary_accuracy: 0.8035
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4739 - binary_accuracy: 0.7945 - val_loss: 0.4606 - val_binary_accuracy: 0.8035
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4726 - binary_accuracy: 0.7945 - val_loss: 0.4578 - val_binary_accuracy: 0.8035
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4710 - binary_accuracy: 0.7945 - val_loss: 0.4577 - val_binary_accuracy: 0.8035
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4698 - binary_accuracy: 0.7945 - val_loss: 0.4545 - val_binary_accuracy: 0.8035
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4680 - binary_accuracy: 0.7945 - val_loss: 0.4529 - val_binary_accuracy: 0.8035
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4667 - binary_accuracy: 0.7945 - val_loss: 0.4514 - val_binary_accuracy: 0.8035
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4648 - binary_accuracy: 0.7945 - val_loss: 0.4498 - val_binary_accuracy: 0.8035
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4630 - binary_accuracy: 0.7945 - val_loss: 0.4475 - val_binary_accuracy: 0.8045
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4610 - binary_accuracy: 0.7947 - val_loss: 0.4451 - val_binary_accuracy: 0.8045
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4589 - binary_accuracy: 0.7950 - val_loss: 0.4432 - val_binary_accuracy: 0.8055
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4567 - binary_accuracy: 0.7959 - val_loss: 0.4408 - val_binary_accuracy: 0.8050
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4543 - binary_accuracy: 0.7972 - val_loss: 0.4395 - val_binary_accuracy: 0.8075
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4515 - binary_accuracy: 0.7980 - val_loss: 0.4358 - val_binary_accuracy: 0.8050
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4489 - binary_accuracy: 0.8008 - val_loss: 0.4335 - val_binary_accuracy: 0.8110
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4457 - binary_accuracy: 0.8035 - val_loss: 0.4292 - val_binary_accuracy: 0.8115
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4422 - binary_accuracy: 0.8059 - val_loss: 0.4254 - val_binary_accuracy: 0.8145
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4385 - binary_accuracy: 0.8076 - val_loss: 0.4223 - val_binary_accuracy: 0.8200
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4342 - binary_accuracy: 0.8096 - val_loss: 0.4173 - val_binary_accuracy: 0.8165
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4300 - binary_accuracy: 0.8119 - val_loss: 0.4131 - val_binary_accuracy: 0.8215
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4253 - binary_accuracy: 0.8134 - val_loss: 0.4092 - val_binary_accuracy: 0.8285
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4206 - binary_accuracy: 0.8171 - val_loss: 0.4040 - val_binary_accuracy: 0.8245
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4161 - binary_accuracy: 0.8215 - val_loss: 0.3991 - val_binary_accuracy: 0.8275
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4114 - binary_accuracy: 0.8235 - val_loss: 0.3984 - val_binary_accuracy: 0.8385
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4074 - binary_accuracy: 0.8260 - val_loss: 0.3925 - val_binary_accuracy: 0.8380
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4026 - binary_accuracy: 0.8281 - val_loss: 0.3877 - val_binary_accuracy: 0.8405
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3990 - binary_accuracy: 0.8304 - val_loss: 0.3831 - val_binary_accuracy: 0.8385
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3955 - binary_accuracy: 0.8310 - val_loss: 0.3798 - val_binary_accuracy: 0.8395
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3923 - binary_accuracy: 0.8320 - val_loss: 0.3777 - val_binary_accuracy: 0.8380
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3891 - binary_accuracy: 0.8342 - val_loss: 0.3750 - val_binary_accuracy: 0.8405
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3861 - binary_accuracy: 0.8350 - val_loss: 0.3757 - val_binary_accuracy: 0.8455
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3847 - binary_accuracy: 0.8345 - val_loss: 0.3708 - val_binary_accuracy: 0.8415
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3825 - binary_accuracy: 0.8360 - val_loss: 0.3709 - val_binary_accuracy: 0.8445
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3805 - binary_accuracy: 0.8394 - val_loss: 0.3672 - val_binary_accuracy: 0.8470
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3788 - binary_accuracy: 0.8390 - val_loss: 0.3669 - val_binary_accuracy: 0.8435
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3777 - binary_accuracy: 0.8394 - val_loss: 0.3653 - val_binary_accuracy: 0.8465
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3757 - binary_accuracy: 0.8401 - val_loss: 0.3648 - val_binary_accuracy: 0.8455
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3755 - binary_accuracy: 0.8410 - val_loss: 0.3656 - val_binary_accuracy: 0.8450
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3740 - binary_accuracy: 0.8419 - val_loss: 0.3638 - val_binary_accuracy: 0.8460
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3740 - binary_accuracy: 0.8420 - val_loss: 0.3632 - val_binary_accuracy: 0.8470
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3727 - binary_accuracy: 0.8429 - val_loss: 0.3626 - val_binary_accuracy: 0.8460

Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3727 - binary_accuracy: 0.8403 - val_loss: 0.3622 - val_binary_accuracy: 0.8470
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3719 - binary_accuracy: 0.8399 - val_loss: 0.3622 - val_binary_accuracy: 0.8485
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3709 - binary_accuracy: 0.8400 - val_loss: 0.3647 - val_binary_accuracy: 0.8460
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3706 - binary_accuracy: 0.8409 - val_loss: 0.3635 - val_binary_accuracy: 0.8480
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3704 - binary_accuracy: 0.8414 - val_loss: 0.3613 - val_binary_accuracy: 0.8485
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3703 - binary_accuracy: 0.8409 - val_loss: 0.3607 - val_binary_accuracy: 0.8490
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3702 - binary_accuracy: 0.8410 - val_loss: 0.3621 - val_binary_accuracy: 0.8495
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3695 - binary_accuracy: 0.8418 - val_loss: 0.3623 - val_binary_accuracy: 0.8485
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3689 - binary_accuracy: 0.8431 - val_loss: 0.3632 - val_binary_accuracy: 0.8480
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3689 - binary_accuracy: 0.8432 - val_loss: 0.3642 - val_binary_accuracy: 0.8505
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3690 - binary_accuracy: 0.8413 - val_loss: 0.3647 - val_binary_accuracy: 0.8475
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3680 - binary_accuracy: 0.8411 - val_loss: 0.3666 - val_binary_accuracy: 0.8465
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3683 - binary_accuracy: 0.8419 - val_loss: 0.3640 - val_binary_accuracy: 0.8490
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3680 - binary_accuracy: 0.8432 - val_loss: 0.3625 - val_binary_accuracy: 0.8490
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3676 - binary_accuracy: 0.8432 - val_loss: 0.3617 - val_binary_accuracy: 0.8490
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3674 - binary_accuracy: 0.8432 - val_loss: 0.3616 - val_binary_accuracy: 0.8545
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3677 - binary_accuracy: 0.8441 - val_loss: 0.3629 - val_binary_accuracy: 0.8510
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3675 - binary_accuracy: 0.8419 - val_loss: 0.3614 - val_binary_accuracy: 0.8500
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3672 - binary_accuracy: 0.8435 - val_loss: 0.3611 - val_binary_accuracy: 0.8505
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3669 - binary_accuracy: 0.8431 - val_loss: 0.3602 - val_binary_accuracy: 0.8500
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3666 - binary_accuracy: 0.8426 - val_loss: 0.3618 - val_binary_accuracy: 0.8520
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3665 - binary_accuracy: 0.8426 - val_loss: 0.3598 - val_binary_accuracy: 0.8495
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3667 - binary_accuracy: 0.8431 - val_loss: 0.3628 - val_binary_accuracy: 0.8500
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3664 - binary_accuracy: 0.8443 - val_loss: 0.3650 - val_binary_accuracy: 0.8495
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3664 - binary_accuracy: 0.8428 - val_loss: 0.3631 - val_binary_accuracy: 0.8475
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3662 - binary_accuracy: 0.8432 - val_loss: 0.3608 - val_binary_accuracy: 0.8515
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3663 - binary_accuracy: 0.8440 - val_loss: 0.3683 - val_binary_accuracy: 0.8475
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3658 - binary_accuracy: 0.8441 - val_loss: 0.3605 - val_binary_accuracy: 0.8490
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3665 - binary_accuracy: 0.8434 - val_loss: 0.3608 - val_binary_accuracy: 0.8510
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3652 - binary_accuracy: 0.8439 - val_loss: 0.3614 - val_binary_accuracy: 0.8510
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3658 - binary_accuracy: 0.8461 - val_loss: 0.3596 - val_binary_accuracy: 0.8530
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3656 - binary_accuracy: 0.8436 - val_loss: 0.3641 - val_binary_accuracy: 0.8490
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3660 - binary_accuracy: 0.8422 - val_loss: 0.3607 - val_binary_accuracy: 0.8505
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3654 - binary_accuracy: 0.8434 - val_loss: 0.3593 - val_binary_accuracy: 0.8520
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3654 - binary_accuracy: 0.8451 - val_loss: 0.3587 - val_binary_accuracy: 0.8525
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3654 - binary_accuracy: 0.8444 - val_loss: 0.3610 - val_binary_accuracy: 0.8495
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3653 - binary_accuracy: 0.8429 - val_loss: 0.3592 - val_binary_accuracy: 0.8515
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3649 - binary_accuracy: 0.8440 - val_loss: 0.3590 - val_binary_accuracy: 0.8525
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3648 - binary_accuracy: 0.8441 - val_loss: 0.3631 - val_binary_accuracy: 0.8490
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3647 - binary_accuracy: 0.8432 - val_loss: 0.3589 - val_binary_accuracy: 0.8510
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3645 - binary_accuracy: 0.8449 - val_loss: 0.3649 - val_binary_accuracy: 0.8490
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3638 - binary_accuracy: 0.8438 - val_loss: 0.3586 - val_binary_accuracy: 0.8515
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3639 - binary_accuracy: 0.8441 - val_loss: 0.3611 - val_binary_accuracy: 0.8490
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3639 - binary_accuracy: 0.8428 - val_loss: 0.3589 - val_binary_accuracy: 0.8530
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3637 - binary_accuracy: 0.8468 - val_loss: 0.3607 - val_binary_accuracy: 0.8500
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3639 - binary_accuracy: 0.8454 - val_loss: 0.3597 - val_binary_accuracy: 0.8515
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3633 - binary_accuracy: 0.8462 - val_loss: 0.3602 - val_binary_accuracy: 0.8515
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3633 - binary_accuracy: 0.8447 - val_loss: 0.3603 - val_binary_accuracy: 0.8500

In [13]:
model.evaluate(X_test,y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3603 - binary_accuracy: 0.8500

[0.3602670431137085, 0.8500000238418579]

In [14]:
y_pred = model.predict(X_test)

63/63 [==============================] - 0s 1ms/step

In [15]:
y_pred = pd.DataFrame((y_pred>0.5)[:,0]).replace(True,1).replace(False,0)

In [16]:
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1607
           1       0.71      0.40      0.51       393

    accuracy                           0.85      2000
   macro avg       0.79      0.68      0.71      2000
weighted avg       0.84      0.85      0.83      2000